<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>Lists</h1>

<ul id='lists'>
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
</ul>

<%= link_to "New list", new_list_path %>
