<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>Lists</h1>
<div class='row'>
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
</div>

<%= link_to "New list", new_list_path %>
